/* SCROlLBAR*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(153, 153, 153, 0.62);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #545454;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #444444;
}



/* AppContainer */

a {
  padding: 0 5px;
  color: #373737 !important;
  cursor: pointer;
}

a:hover {
  color: #000000 !important;
  font-weight:bold;
}

.Menu-Button:nth-of-type(2) {
  border-left: 1px solid #9c9c9c;
}

.MenuNav-Container {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #b5b5b5;
  z-index: 2
}

.Menu-Container {
  height: 65px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 0 40px
}

.Menu-Text-Logo {
  color: #3d3d3d;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  margin: 0;
}

.ui.input {
  width: 500px;
}

.Menu-Button {
  background: none;
  border: none;

}

.Dropdown-button {
  margin: 0 0 0 40px;
  cursor: pointer;
}

.dot {
  height: 15px;
  width: 15px;
  background: #343434;
  transform: rotateZ(45deg);
  position: absolute;
  top: -5px;
  left: 70px;
  box-shadow: -1px -1px #000000;
}

.Dropdown-List {
  position: fixed;
  width:200px;
  background: #343434;
  border-radius: 8px;
  border: 1px #9d9d9d solid;
  margin-left: 40px;
  margin-top: 5px;
  animation-name: openDown;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
}


@keyframes openDown {
  from {
    height: 0;
  }
  to {
    height: 500px;
    box-shadow: 0 0 10px #000;
  }
}

.Dropdown-Component {
  padding: 10px;
  overflow: hidden;
  background: #fff;
  height: 498px;
  position: absolute;
  left: 190px;
  top: 0;
  border: 1px solid #9d9d9d;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  animation-name: dropdownComponent;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes dropdownComponent {
  from {
    width: 0
  }
  to{
    width: 800px;
    box-shadow: 0 0 10px #000;
  }
}

.Dropdown-List .Dropdown-Span:nth-of-type(1){
  margin-top: 30px;
}

.Dropdown-Span {
  height: 30px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-weight: bold;
}

.Dropdown-Span:hover {
  background: #fff;
  color: #1f1f1f;
  font-weight: normal;
}

.Grid-Dropdown-Component {
  display: grid;
  grid-row-gap: 20px;
  grid-template: auto 1fr / 1fr 1fr 1fr ;
}

.App-Container {
  padding: 85px 0 0 0

}

.Sell-Button {
  background-color: #0CE8CC;
  border: none;
  position:fixed;
  left: 40px;
  bottom: 20px;
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 40px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0 0 10px #3b3939;
}

/* Widget */

.Sell-Button:active {
  transform: scale(.9,.9);
  box-shadow: none;
}


.ShoppinCar-Container {
  position: fixed;
  bottom: 0;
  right: 40px;
}


.ShoppinCar-Tag {
  width: 320px;
  height: 35px;
  background: #fff;
  border-radius: 8px 8px 0 0;
  border: 1px solid #b5b5b5;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ShoppinCar-Tag:hover {
  background: #c7c7c7;
}

.ShoppingTagActive {
  background: #0ee8cc !important;
  color: white;
  font-weight: bold;
}
.ShoppingList {
  border-left: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
  background: #f1f1f1;
  height: 0;
}

.ShoppingListOpen {
  animation: listOpen .8s forwards;
}

@keyframes listOpen {
  from { height: 0}
  to { height: 500px}
}

.ShoppingListClose {
  animation: listClose .8s forwards;
}

@keyframes listClose {
  from { height: 500px }
  to { height: 0 }
}

.listCar {
overflow-y: auto;
height: 470px;
}

.checkList {
  display: flex;
  flex-direction: row;
  padding: 5px;
  height: 30px;
  background: #0ee8cc;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #b5b5b5;
  color: #fff;
  font-weight: bold;
}

.itemContain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b5b5b5;
  padding: 5px;
  border-bottom: 1px solid #b5b5b5;
  background: #e0dddd;
  cursor: pointer;
}

.itemContain:hover {
  background: #e6e3e3;
}

.itemImg {
  width: 50px;
  height: 50px;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
}

.itemButton {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 20px
}

.itemButton:active {
  transform: scale(0.9,0.9);
}


/* Index */

/* SLIDER */
.imgSlide {
  width: 100%;
  height: 500px;
  background-image: url('./assets/slideshow.jpeg');
  background-position: center center;
  background-size: cover;
}

.imgSlide1 {
  width: 100%;
  height: 500px;
  background-image: url('./assets/slideshow_1.png');
  background-position: center center;
  background-size: cover;
}

.imgSlide2 {
  width: 100%;
  height: 500px;
  background-image: url('./assets/slideshow_2.png');
  background-position: center center;
  background-size: cover;
}

.nextSlide {
  position: absolute;
  right: 0;
  top: 200px;
  font-size: 40px !important;
}

.nextSlide:active {
  color: #ffffff !important;
}

.backSlide {
  position: absolute;
  left: 0;
  top: 200px;
  font-size: 40px !important;
}

.backSlide:active {
  color: #ffffff !important;
}

/* INDEX GRID */

.Index-Grid {
  width: 800px;
  margin: 50px auto 5px;
}

.Descubre-Wrap {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  position: relative;

}

.Descubre-1 {
  background-image: url('./assets/Descubre1.jpeg');
}

.Descubre-2 {
  background-image: url('./assets/Descubre2.jpeg');
}

.Descubre-large {
  background-image: url('./assets/Descubre3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 790px;
  border-radius: 4px;
  border: 1px solid #9d9d9d;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 5px
}

.Descubre{
  width: 390px;
  height: 300px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Descubre:hover, .Descubre-large:hover {
  animation-name: descubreHover;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}

@keyframes descubreHover {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 10px #000
  }
}

.Descubre-button {
  height: 40px;
  width: 160px;
  background: #14b7db;
  color: #fff;
  border: none;
  cursor: pointer;
}

.Descubre:hover .Descubre-button, .Descubre-large:hover .Descubre-button {
  animation-name: botonHover;
  animation-fill-mode: forwards;
  animation-duration: .4s;
}

@keyframes botonHover {
  from { background: #14b7db }
  to { background: #147cdb }
}

/*Mas Vistos Index  */

.Card-Contain-Index {
  width: 790px;
  margin: 40px auto 0;
  position: relative;
}

.Card-List-Index {
  width: 700px;
  overflow: hidden;
  margin: auto;
  height: 365px;
}

.List-Contain-Index {
  display: inline-flex;
}

.MasVisto-Button {
  position: absolute;
  top: 220px;
  font-size: 30px !important;
}

.MasVisto-Button:active {
  color: #c3c3c3
}

.MasVisto-Right {
  right: 0;
}

.MasVisto-Left {
  left: 0;
}

/* FOOTER */

.Footer {
  height:250px;
  background: #09B59F;
  margin-top: 10px;
  align-items: center;
  display: flex;
}

.Footer-Container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
}

.footer-left {
  width: 400px;
}


.footerTag {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  color:  #fff;
}

.iconPlace {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #256860;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.iconPlace i {
  margin: 0 !important;
  color: #fff
}

.footer-right {
  width: 400px;
  color: #ffffff;
}

.buttonsContain {
  display: flex;
  flex-direction: row;
}

.socialButton {
  height: 35px;
  width: 35px;
  margin: 5px;
  border-radius:3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #256860;
  font-size: 20px !important;
}

.socialButton i {
  margin: 0 !important;
}

.socialButton img {
  height: 25px;
}

/* COMPONENTES */

/* CARDS */

.Card {
  height: 300px;
  width: 340px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  overflow-y: hidden;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.Card:hover {

  animation-name: example;
  animation-duration: .7s;
  animation-fill-mode: forwards;
}

.Card-Img {
  width: 100%;
  height: 250px;
  border-bottom: 1px solid #d9d9d9;
}

.Card-Add {
  position: absolute;
  top: 0;
  right: 0;
  margin: 6px;
  height: 30px;
  width: 30px;
  background: #62F2C6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
}

.Card-Add:active {
  transform: scale(.9);
}

.Card-Add i {
  font-size: 16px !important;
  margin: 0 !important;
}

@keyframes example {
    0%   {
      height: 300px;
      box-shadow: 0 0 0px #636363
    }
    100% {
      height: 355px;
      box-shadow: 0 0 10px #636363;
    }
}
