/* AppContainer */

a {
  padding: 0 5px;
  color: #1f1f1f !important;
  cursor: pointer;
}

a:hover {
  color: #000000 !important
}

.Menu-Button:nth-of-type(2) {
  border-left: 1px solid #9c9c9c;
}

.MenuNav-Container {
  position: fixed;
  top: 0;
  width: 100%;
  background: #a9f0da;
  z-index: 2
}

.Menu-Container {
  height: 65px;
  background: #ffffff;
  border-bottom: 1px solid #b5b5b5;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 20px
}

.Menu-Text-Logo {
  color: #3d3d3d;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  margin: 0;
}

.Menu-Button {
  background: none;
  border: none;

}


.Dropdown{
  margin: 5px 5px 5px 40px;
  display: inline-block;
}

.Dropdown-SubContent {
  padding: 10px;
  background: #fff;
  height: 500px;
  width: 800px
}

.Grid-SubContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-row: auto 1fr;
  grid-gap: 20px
}

.App-Container {
  padding: 94px 0 0 0

}

.Sell-Button {
  background-color: #0CE8CC;
  border: none;
  position:fixed;
  left: 20px;
  bottom: 20px;
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 40px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px
}

/* Widget */

.Sell-Button:active {
  transform: scale(.9,.9);
}


.ShoppinCar-Container {
  position: fixed;
  bottom: 0;
  right: 60px;
}

.ShoppingList {
  border-left: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
  background: #f1f1f1;
  height: 100%;
}

.ShoppinCar-Tag {
  width: 270px;
  height: 35px;
  background: #fff;
  border-radius: 8px 8px 0 0;
  border: 1px solid #b5b5b5;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ShoppinCar-Tag:hover {
  background: #c7c7c7;
}


/* Index */

/* SLIDER */
.imgSlide {
  width: 100%;
  height: 500px;
  background-image: url('./assets/slideshow.jpeg');
  background-position: center center;
  background-size: cover;
}

.imgSlide1 {
  width: 100%;
  height: 500px;
  background-image: url('./assets/slideshow_1.jpeg');
  background-position: center center;
  background-size: cover;
}

.imgSlide2 {
  width: 100%;
  height: 500px;
  background-image: url('./assets/slideshow_2.jpeg');
  background-position: center center;
  background-size: cover;
}

.nextSlide {
  position: absolute;
  right: 0;
  top: 200px;
  font-size: 40px !important;
}

.nextSlide:active {
  color: #ffffff !important;
}

.backSlide {
  position: absolute;
  left: 0;
  top: 200px;
  font-size: 40px !important;
}

.backSlide:active {
  color: #ffffff !important;
}
